front/src/old_components
front/src/old_hooks
old

echoroo.db
front/tests-examples
front/playwright-report
front/test-results
.backups
build/echoroo
dist

# Environment files
.env
front/.env

# log files
logs/
back/temp/

# Coding assistant files
CLAUDE.md

.vscode/
.claude/